/* === Layout principale === */
#root {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* === Container principale === */
.container-area {
  display: flex;
  flex: 1;
  margin-top: 4rem; /* spazio per topbar fixed */
  width: 100%;
}

/* === Content === */
.content {
  margin-left: 15rem; /* spazio lasciato dalla sidebar fissa */
  flex: 1;
  padding: 1rem;
  overflow: auto;
  border: 1px solid rgb(62,62,62);
  width: calc(100% - 15rem);
}
